@model Production.Application.Material.MaterialDto

@{
    ViewData["Title"] = "Material Details";
}

<h1>Material Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost).Replace("Cost","Cost [per kg]")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost) $
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialInStock).Replace("MaterialInStock","Material In Stock")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialInStock) kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialScheduledInStock).Replace("MaterialScheduledInStock","Material Scheduled In Stock")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialScheduledInStock) kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialOnProduction).Replace("MaterialOnProduction","Material On Production")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialOnProduction) kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialLeft).Replace("MaterialLeft","Material Left")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialLeft) kg
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Edit">Edit</a>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
