@using Production.Application.Dtos;

@model MaterialDto

@{
    ViewData["Title"] = "Remove material";
}

<h3>Are you sure you want to delete material @Model.Name?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedMaterialDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedMaterialDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialToOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialToOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialOnProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialOnProduction)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
