@model IEnumerable<Production.Application.Production.ProductionDtoOutput>

@{
    ViewData["Title"] = "Index";
}

<h1>Production plan</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                Production Time In Hours
            </th>
            <th>
                Injection Mold
            </th>
            <th>
                Injection Molding Machine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionTimeInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjectionMoldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjectionMoldingMachineName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  productionId = item.Id  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-controller="Production" asp-action="Remove" asp-route-productionId="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
