@model IEnumerable<Production.Application.Productions.ProductionDto>

@{
    ViewData["Title"] = "Production";
}

<h1>Production plan</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Planned Start
            </th>
            <th>
                Planned End
            </th>
            <th>
                Production Time [h]
            </th>
            <th>
                Injection Mold
            </th>
            <th>
                Injection Molding Machine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionTimeInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjectionMoldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjectionMoldingMachineName)
            </td>
            <td>
                <a asp-controller="Production" asp-action="Edit" asp-route-productionId="@item.Id">Edit</a> |
                <a asp-controller="Production" asp-action="Details" asp-route-productionId="@item.Id">Details</a> |
                <a asp-controller="Production" asp-action="Remove" asp-route-productionId="@item.Id">Remove</a>
            </td>
        </tr>
    }
    </tbody>
</table>
